body {
  font-size: 16px;
  background-color: #4450f8f3;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #5384ee;
  border-radius: 0;
  border: 0;
}



.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h2 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: black;
  
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


#nav-list {
  margin-top: 10px;
  background-color: rgb(94, 94, 243);
}
#nav-list a {
  color: black;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid blue;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */
 #cabeza  {
   
   background-color: rgb(28, 140, 231);
 }
 #cabeza p {
  font-family: 'Lora', serif;
  font-size: 35px;
  font-weight: bold;
 }
 #content {
   background-color: rgb(62, 158, 248);
   font-weight: bold;
 }
 #title {
   font-size: 25px;
 }
